/*
!/lambda-base/
!/lambda-core/
!/lambda-tools/
!/lambda-workflow-core/
!/lambda-workflow-module/
!/lambda-workflow-engine/
!/lambda-manager/
!/lambda-open/
!/lambda-decision/
!/lambda-cluster-adapter/
!/lambda-framework/
!/lambda-portal/
!/lambda-mybatis-generator/
!pom.xml
!.gitignore