<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yatop.lambda.base.mapper.MwModelMapper">
  <resultMap id="BaseResultMap" type="com.yatop.lambda.base.model.MwModel">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="MODEL_ID" jdbcType="BIGINT" property="modelId" />
    <result column="MODEL_NAME" jdbcType="VARCHAR" property="modelName" />
    <result column="MODEL_TYPE" jdbcType="INTEGER" property="modelType" />
    <result column="MODEL_SRC" jdbcType="INTEGER" property="modelSrc" />
    <result column="OWNER_MW_ID" jdbcType="BIGINT" property="ownerMwId" />
    <result column="REL_EXPERIMENT_ID" jdbcType="BIGINT" property="relExperimentId" />
    <result column="REL_JOB_ID" jdbcType="BIGINT" property="relJobId" />
    <result column="REL_NODE_ID" jdbcType="BIGINT" property="relNodeId" />
    <result column="REL_CHAR_ID" jdbcType="BIGINT" property="relCharId" />
    <result column="REF_ALGORITHM_ID" jdbcType="BIGINT" property="refAlgorithmId" />
    <result column="MODEL_FILE_SIZE" jdbcType="BIGINT" property="modelFileSize" />
    <result column="MODEL_FILE" jdbcType="VARCHAR" property="modelFile" />
    <result column="MODEL_SUMMARY_FILE" jdbcType="VARCHAR" property="modelSummaryFile" />
    <result column="MODEL_STATE" jdbcType="INTEGER" property="modelState" />
    <result column="TRAIN_TABLE_ID" jdbcType="BIGINT" property="trainTableId" />
    <result column="TRAIN_COST_TIME" jdbcType="BIGINT" property="trainCostTime" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="LAST_UPDATE_TIME" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="LAST_UPDATE_OPER" jdbcType="VARCHAR" property="lastUpdateOper" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_OPER" jdbcType="VARCHAR" property="createOper" />
  </resultMap>
</mapper>