<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yatop.lambda.base.mapper.WfExecutionJobMapper">
  <resultMap id="BaseResultMap" type="com.yatop.lambda.base.model.WfExecutionJob">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="JOB_ID" jdbcType="BIGINT" property="jobId" />
    <result column="JOB_NAME" jdbcType="VARCHAR" property="jobName" />
    <result column="JOB_TYPE" jdbcType="INTEGER" property="jobType" />
    <result column="OWNER_PROJECT_ID" jdbcType="BIGINT" property="ownerProjectId" />
    <result column="REL_FLOW_ID" jdbcType="BIGINT" property="relFlowId" />
    <result column="REL_SNAPSHOT_ID" jdbcType="BIGINT" property="relSnapshotId" />
    <result column="REL_NODE_ID" jdbcType="BIGINT" property="relNodeId" />
    <result column="JOB_DFS_DIR" jdbcType="VARCHAR" property="jobDfsDir" />
    <result column="JOB_LOCAL_DIR" jdbcType="VARCHAR" property="jobLocalDir" />
    <result column="NEXT_TASK_SEQUENCE" jdbcType="BIGINT" property="nextTaskSequence" />
    <result column="JOB_SUBMIT_TIME" jdbcType="TIMESTAMP" property="jobSubmitTime" />
    <result column="JOB_START_TIME" jdbcType="TIMESTAMP" property="jobStartTime" />
    <result column="JOB_END_TIME" jdbcType="TIMESTAMP" property="jobEndTime" />
    <result column="JOB_STATE" jdbcType="INTEGER" property="jobState" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="LAST_UPDATE_TIME" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="LAST_UPDATE_OPER" jdbcType="VARCHAR" property="lastUpdateOper" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_OPER" jdbcType="VARCHAR" property="createOper" />
    <result column="JOB_CONTEXT" jdbcType="LONGVARCHAR" property="jobContext" />
  </resultMap>
</mapper>