<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yatop.lambda.base.mapper.WfExecutionQueueMapper" >
  <resultMap id="BaseResultMap" type="com.yatop.lambda.base.model.WfExecutionQueue" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="JOB_ID" property="jobId" jdbcType="BIGINT" />
    <result column="OWNER_PROJECT_ID" property="ownerProjectId" jdbcType="BIGINT" />
    <result column="JOB_TIME" property="jobTime" jdbcType="TIMESTAMP" />
    <result column="JOB_SIGNAL" property="jobSignal" jdbcType="INTEGER" />
    <result column="JOB_STATE" property="jobState" jdbcType="INTEGER" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="LAST_UPDATE_TIME" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_OPER" property="lastUpdateOper" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_OPER" property="createOper" jdbcType="VARCHAR" />
  </resultMap>
</mapper>