<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yatop.lambda.base.mapper.WfFlowNodeDeleteQueueMapper" >
  <resultMap id="BaseResultMap" type="com.yatop.lambda.base.model.WfFlowNodeDeleteQueue" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="FLOW_ID" property="flowId" jdbcType="BIGINT" />
    <id column="NODE_ID" property="nodeId" jdbcType="BIGINT" />
    <result column="SEQUENCE" property="sequence" jdbcType="INTEGER" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_OPER" property="createOper" jdbcType="VARCHAR" />
  </resultMap>
</mapper>