<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yatop.lambda.base.mapper.WfFlowMapper">
  <resultMap id="BaseResultMap" type="com.yatop.lambda.base.model.WfFlow">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="FLOW_ID" jdbcType="BIGINT" property="flowId" />
    <result column="FLOW_NAME" jdbcType="VARCHAR" property="flowName" />
    <result column="OWNER_PROJECT_ID" jdbcType="BIGINT" property="ownerProjectId" />
    <result column="OWNER_EXPERIMENT_ID" jdbcType="BIGINT" property="ownerExperimentId" />
    <result column="LOCK_STATE" jdbcType="INTEGER" property="lockState" />
    <result column="LOCK_MSG" jdbcType="VARCHAR" property="lockMsg" />
    <result column="LAST_SNAPSHOT_ID" jdbcType="BIGINT" property="lastSnapshotId" />
    <result column="NEXT_SNAPSHOT_VERSION" jdbcType="BIGINT" property="nextSnapshotVersion" />
    <result column="NODE_COUNT" jdbcType="BIGINT" property="nodeCount" />
    <result column="NEXT_DELETE_SEQUENCE" jdbcType="BIGINT" property="nextDeleteSequence" />
    <result column="LAST_JOB_ID" jdbcType="BIGINT" property="lastJobId" />
    <result column="FLOW_STATE" jdbcType="INTEGER" property="flowState" />
    <result column="SUMMARY" jdbcType="VARCHAR" property="summary" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="LAST_UPDATE_TIME" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="LAST_UPDATE_OPER" jdbcType="VARCHAR" property="lastUpdateOper" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_OPER" jdbcType="VARCHAR" property="createOper" />
    <result column="VERSION" jdbcType="BIGINT" property="version" />
  </resultMap>
</mapper>